.footer#contacts
  .container
    %h4 Contacts
    %ul.footer-nav
      %li +46 (0)707 - 33 61 55
      %li tidemand.holger@gmail.com
      %li Göteborg, Sweden
      %li
        %a(href="https://github.com/holgertidemand") GitHub
