%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#top"} Holger Tidemand
  %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      %a.nav-item.nav-link{:href => "index.html#about-me"} About me
      %a.nav-item.nav-link{:href => "index.html#projects"} Projects
      %a.nav-item.nav-link{:href => "index.html#contacts"} Contacts
      %a.nav-item.nav-link{:href => "cv.html"} CV
